@model InventoryManagementWeb.ViewModels.TransactionViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Transaction</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 20px;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
        }

        p {
            font-size: 18px;
            margin: 10px 0;
        }

        .label {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Transaction Details</h1>
        <p><span class="label">Transaction Id: </span> @Model.TransactionId</p>
        <p><span class="label">Product Id: </span> @Model.ProductId</p>
        <p><span class="label">Product Name: </span> @Model.Name</p>
        <p><span class="label">Transaction Type: </span>@(Model.TransactionType.HasValue ? (Model.TransactionType.Value ? "Add" : "Remove") : "Unknown")</p>
        <p><span class="label">Quantity: </span> @Model.Quantity</p>
        <p><span class="label">Date: </span> @Model.Date</p>
    </div>
</body>
</html>
